<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div id="exampleToolbar" role="group">
                    <button shiro:hasPermission="type:recruitment:add" type="button" class="btn  btn-primary" id="add">
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <input type="text" style="display: none" value="recruitmentType" id="btnId">
                    <button shiro:hasPermission="type:recruitment:type" type="button" class="btn  btn-info" id="recruitmentType">
                        <i class="fa fa-bars" aria-hidden="true"></i>招聘种类
                    </button>
                    <button shiro:hasPermission="type:recruitment:position" type="button" class="btn  btn-default"
                            id="position">
                        <i class="fa fa-info" aria-hidden="true"></i>招聘职位
                    </button>
                    <button shiro:hasPermission="type:recruitment:batchRemove" type="button" class="btn  btn-danger"
                            onclick="batchRemove()">
                        <i class="fa fa-trash" aria-hidden="true"></i>删除
                    </button>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="type:recruitment:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="type:recruitment:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
</div>
<div th:include="include :: footer"></div>
<script>
    var prefix = "/type/recruitment";
    $(function() {
        recruitmentType();
    });

    function recruitmentType() {
        $('#exampleTable')
            .bootstrapTable(
                {
                    method : 'get', // 服务器数据的请求方式 get or post
                    url : prefix + "/listTypePage", // 服务器数据的加载地址
                    // showRefresh : true,
                    // showToggle : true,
                    // showColumns : true,
                    iconSize : 'outline',
                    toolbar : '#exampleToolbar',
                    striped : true, // 设置为true会有隔行变色效果
                    dataType : "json", // 服务器返回的数据类型
                    pagination : true, // 设置为true会在底部显示分页条
                    // queryParamsType : "limit",
                    // //设置为limit则会发送符合RESTFull格式的参数
                    singleSelect : false, // 设置为true将禁止多选
                    // contentType : "application/x-www-form-urlencoded",
                    // //发送到服务器的数据编码类型
                    pageSize : 10, // 如果设置了分页，每页数据条数
                    pageNumber : 1, // 如果设置了分布，首页页码
                    // search : true, // 是否显示搜索框
                    showColumns : false, // 是否显示内容下拉框（选择显示的列）
                    sidePagination : "server", // 设置在哪里进行分页，可选值为"client" 或者
                    // "server"
                    queryParams : function(params) {
                        return {
                            // 说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                            limit : params.limit,
                            offset : params.offset
                            // name:$('#searchName').val(),
                            // username:$('#searchName').val()
                        };
                    },
                    // //请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
                    // queryParamsType = 'limit' ,返回参数必须包含
                    // limit, offset, search, sort, order 否则, 需要包含:
                    // pageSize, pageNumber, searchText, sortName,
                    // sortOrder.
                    // 返回false将会终止请求
                    columns : [
                        {
                            checkbox : true
                        },
                        {
                            visible : false,
                            field : 'jtId',
                            title : ''
                        },
                        {
                            field : 'sn',
                            title : '序号',
                            width :320
                        },
                        {
                            field : 'jtName',
                            title : '分类名称'
                        },
                        {
                            title : '操作',
                            field : 'id',
                            align : 'center',
                            formatter : function(value, row, index) {
                                var e = '<a class="btn btn-primary btn-sm '+s_edit_h+'" href="#" mce_href="#" title="编辑" onclick="editRecruitmentType(\''
                                    + row.jtId
                                    + '\')"><i class="fa fa-edit"></i></a> ';
                                var d = '<a class="btn btn-warning btn-sm '+s_remove_h+'" href="#" title="删除"  mce_href="#" onclick="removeRecruitmentType(\''
                                    + row.jtId
                                    + '\')"><i class="fa fa-remove"></i></a> ';
                                var f = '<a class="btn btn-success btn-sm" href="#" title="备用"  mce_href="#" onclick="resetPwd(\''
                                    + row.jtId
                                    + '\')"><i class="fa fa-key"></i></a> ';
                                return e + d;
                            }
                        } ]
                });
    }


    function removeRecruitmentType(id) {
        layer.confirm('确定要删除选中的记录？', {
            btn : [ '确定', '取消' ]
        }, function() {
            $.ajax({
                url : prefix + "/delType",
                type : "post",
                data : {
                    'id' : id
                },
                success : function(r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                        reLoad();
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        })
    }

    function position() {
        $('#exampleTable')
            .bootstrapTable(
                {
                    method : 'get', // 服务器数据的请求方式 get or post
                    url : prefix + "/listPosition", // 服务器数据的加载地址
                    // showRefresh : true,
                    // showToggle : true,
                    // showColumns : true,
                    iconSize : 'outline',
                    toolbar : '#exampleToolbar',
                    striped : true, // 设置为true会有隔行变色效果
                    dataType : "json", // 服务器返回的数据类型
                    pagination : true, // 设置为true会在底部显示分页条
                    // queryParamsType : "limit",
                    // //设置为limit则会发送符合RESTFull格式的参数
                    singleSelect : false, // 设置为true将禁止多选
                    // contentType : "application/x-www-form-urlencoded",
                    // //发送到服务器的数据编码类型
                    pageSize : 10, // 如果设置了分页，每页数据条数
                    pageNumber : 1, // 如果设置了分布，首页页码
                    // search : true, // 是否显示搜索框
                    showColumns : false, // 是否显示内容下拉框（选择显示的列）
                    sidePagination : "server", // 设置在哪里进行分页，可选值为"client" 或者
                    // "server"
                    queryParams : function(params) {
                        return {
                            // 说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                            limit : params.limit,
                            offset : params.offset
                            // name:$('#searchName').val(),
                            // username:$('#searchName').val()
                        };
                    },
                    // //请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
                    // queryParamsType = 'limit' ,返回参数必须包含
                    // limit, offset, search, sort, order 否则, 需要包含:
                    // pageSize, pageNumber, searchText, sortName,
                    // sortOrder.
                    // 返回false将会终止请求
                    columns : [
                        {
                            checkbox : true
                        },
                        {
                            visible : false,
                            field : 'pId',
                            title : ''
                        },
                        {
                            field : 'sn',
                            title : '序号',
                            width :320
                        },
                        {
                            field : 'pName',
                            title : '职位名称'
                        },
                        {
                            field : 'pWorkPlace',
                            title : '工作地点'
                        },
                        {
                            title : '操作',
                            field : 'id',
                            align : 'center',
                            formatter : function(value, row, index) {
                                var e = '<a class="btn btn-primary btn-sm '+s_edit_h+'" href="#" mce_href="#" title="编辑" onclick="editPosition(\''
                                    + row.pId
                                    + '\')"><i class="fa fa-edit"></i></a> ';
                                var d = '<a class="btn btn-warning btn-sm '+s_remove_h+'" href="#" title="删除"  mce_href="#" onclick="removePosition(\''
                                    + row.pId
                                    + '\')"><i class="fa fa-remove"></i></a> ';
                                var f = '<a class="btn btn-success btn-sm" href="#" title="备用"  mce_href="#" onclick="resetPwd(\''
                                    + row.pId
                                    + '\')"><i class="fa fa-key"></i></a> ';
                                return e + d;
                            }
                        } ]
                });
    }


    //表格刷新
    function reLoad() {
        $('#exampleTable').bootstrapTable('refresh');
    }

    //清除原有表格
    function destroy() {
        $('#exampleTable').bootstrapTable('destroy');
    }


    /**
     * 添加新的研究方向
     */
    function addRecruitmentType() {
        var content = '<form id="addTypeForm">'
            + '<div class="form-group">'
            + '<label class="col-sm-3 control-label" style="text-align:right;">分类名称:</label>'
            + '<div class="col-sm-8">'
            + '<input id="jtName" name="jtName" class="form-control" type="text" value="" />'
            + '</div>'
            + '</div>'
            + '<br>'
            + '<div class="form-group" style="margin-top: 30px">'
            + '<label class="col-sm-3 control-label" style="text-align:right;"  >分类描述:</label>'
            + '<div class="col-sm-8">'
            + '<div class="ibox-content no-padding">'
            + '<textarea name="jtDesc" class="form-control" id="jtDesc" style="height: 170px"></textarea>'
            + '</div>' + '</div>' +'</div>'
            + '</form>';
        layer.open({
            type: 1,
            title: '添加招聘种类',
            shadeClose: true,
            shade: 0.8,
            area: ['700px', '400px'],
            content: content,
            btn: ['添加', '取消'],
            yes: function(){
                $.ajax({
                    url : prefix + "/saveType",
                    type : "POST",
                    data : $("#addTypeForm").serialize(),
                    success : function(r) {
                        if (r.code == 0) {
                            layer.msg(r.msg);
                            reLoad();
                        } else {
                            layer.msg(r.msg);
                        }
                    }
                });
            },
            btn2: function()
            {
                layer.close();
            },
            success: function(layero){
                layero.find('.layui-layer-btn').css('text-align', 'center');
                layero.find('.layui-layer-btn').css('padding-top', '0px');
            }
        });
    }

    function editRecruitmentType(jtId){
        var content = '<form id="addTypeForm">'
            + '<div class="form-group">'
            + '<label class="col-sm-3 control-label" style="text-align:right;">分类名称:</label>'
            + '<div class="col-sm-8">'
            + '<input type="text" name="jtId" id="jtId" style="display: none" />'
            + '<input id="jtName" name="jtName" class="form-control" type="text" value="" />'
            + '</div>'
            + '</div>'
            + '<br>'
            + '<div class="form-group" style="margin-top: 30px">'
            + '<label class="col-sm-3 control-label" style="text-align:right;"  >分类描述:</label>'
            + '<div class="col-sm-8">'
            + '<div class="ibox-content no-padding">'
            + '<textarea name="jtDesc" class="form-control" id="jtDesc" style="height: 170px"></textarea>'
            + '</div>' + '</div>' +'</div>'
            + '</form>';
        layer.open({
            type: 1,
            title: '编辑招聘种类',
            shadeClose: true,
            shade: 0.8,
            area: ['700px', '400px'],
            content: content,
            btn: ['保存', '取消'],
            yes: function(){
                $.ajax({
                    url : prefix + "/saveType",
                    type : "POST",
                    data : $("#addTypeForm").serialize(),
                    success : function(r) {
                        if (r.code == 0) {
                            layer.msg(r.msg);
                            reLoad();
                        } else {
                            layer.msg(r.msg);
                        }
                    }
                });

            },
            btn2: function()
            {
                layer.close();
            },
            success: function(layero){
                layero.find('.layui-layer-btn').css('text-align', 'center');
                layero.find('.layui-layer-btn').css('padding-top', '0px');
                $.ajax({
                    url : prefix + "/getTypeById",
                    type : "POST",
                    data : {
                        "id": jtId
                    },
                    success : function(r) {
                        if (r.code == 0) {
                            $("#jtId").val(r.type.jtId);
                            $("#jtName").val(r.type.jtName);
                            $("#jtDesc").html(r.type.jtDesc);
                        } else {
                            layer.msg(r.msg);
                        }
                    }
                });
            }
        });

    }


    // <label class="col-sm-3 control-label">类型：</label>
    // <div class="col-sm-4">
    //     <select id="types" class="selectpicker form-control" data-live-search="true" title="选择消息类型">
    //     <option value="0" selected="selected">请选择消息类型</option>
    //     </select>
    //     </div>

    /**
     * 添加示范项目
     */
    function addPosition() {
        var content = '<form id="addPositionForm">'
            + '<div class="form-group">'
            + '<label class="col-sm-3 control-label" style="text-align:right;">职位名称:</label>'
            + '<div class="col-sm-8">'
            + '<input id="pName" name="pName" class="form-control" type="text" value="" />'
            + '</div>'
            + '</div>'

            +'<br>'
            + '<div class="form-group" style="margin-top: 30px">'
            + '<label class="col-sm-3 control-label" style="text-align:right;"  >职位描述:</label>'
            + '<div class="col-sm-8">'
            + '<div class="ibox-content no-padding">'
            + '<textarea name="pDesc" class="form-control" id="pDesc" style="height: 170px"></textarea>'
            + '</div>' + '</div>' +'</div>'

            + '<br>'
            + '<div class="form-group" >'
            + '<label  class="col-sm-3 control-label" style="text-align:right;margin-top: 5px;">工作城市:</label>'
            + '<div class="col-sm-8">'
            + '<input style="margin-top: 10px" id="pWorkPlace" name="pWorkPlace" class="form-control" type="text" value="" />'
            + '</div>'
            + '</div>'
            + '<br>'

            + '<div class="form-group" >'
            + '<label  class="col-sm-3 control-label" style="text-align:right;margin-top: 8px;">招聘类型:</label>'
            + '<div class="col-sm-8">'
            + '<input style="display: none" id="jtId" name="jtId"/>'
            + '<select style="margin-top: 8px;" id="types" class="selectpicker form-control" data-live-search="true" title="选择招聘类型">'
            + '<option value="0" selected="selected">选择招聘类型</option>'
            + '</select>'
            + '</div>'
            + '</div>'

            + '</form>';
        layer.open({
            type: 1,
            title: '添加招聘职位',
            shadeClose: true,
            shade: 0.8,
            area: ['700px', '450px'],
            content: content,
            btn: ['添加', '取消'],
            yes: function(){
                $.ajax({
                    url : prefix + "/savePosition",
                    type : "POST",
                    data : $("#addPositionForm").serialize(),
                    success : function(r) {
                        if (r.code == 0) {
                            layer.msg(r.msg);
                            reLoad();
                        } else {
                            layer.msg(r.msg);
                        }
                    }
                });
            },
            btn2: function()
            {
                layer.close();
            },
            success: function(layero){
                layero.find('.layui-layer-btn').css('text-align', 'center');
                layero.find('.layui-layer-btn').css('padding-top', '0px');
                $.ajax({
                    url : prefix + "/listTypes",
                    type : "GET",
                    data : "",
                    success : function(r) {
                        if (r.code == 0) {
                            for(let i = 0; i < r.results.length; i++){
                                var jtName = r.results[i].jtName;
                                var jtId = r.results[i].jtId;
                                var option = "<option value='" + jtId + "'>" + jtName + "</option>";
                                $("#types").append(option);
                            }
                        } else {
                            layer.msg(r.msg);
                        }
                    }
                });

                $("#types").change(function () {
                    var val = $(this).find("option:selected").val();
                    $("#jtId").val(val);
                });
            }
        });
    }



    var add = {
        recruitmentType: function(){
            addRecruitmentType();
        },
        position: function () {
            addPosition();
        }
    };

    $("#add").click(function () {
        var btnId = $("#btnId").val();
        add["" +btnId+ ""]();
    });


    /**
     * 编辑
     * @param sid
     */
    function editPosition(pid) {
        var content = '<form id="addPositionForm">'
            + '<div class="form-group">'
            + '<label class="col-sm-3 control-label" style="text-align:right;">职位名称:</label>'
            + '<div class="col-sm-8">'
            + '<input id="pId" name="pId" class="form-control" type="text" value=""  style="display: none"/>'
            + '<input id="pName" name="pName" class="form-control" type="text" value="" />'
            + '</div>'
            + '</div>'
            + '<br>'
            + '<div class="form-group" style="margin-top: 30px">'
            + '<label class="col-sm-3 control-label" style="text-align:right;"  >职位描述:</label>'
            + '<div class="col-sm-8">'
            + '<div class="ibox-content no-padding">'
            + '<textarea name="pDesc" class="form-control" id="pDesc" style="height: 170px"></textarea>'
            + '</div>' + '</div>' +'</div>'

            + '<br>'
            + '<div class="form-group" >'
            + '<label  class="col-sm-3 control-label" style="text-align:right;margin-top: 5px;">工作城市:</label>'
            + '<div class="col-sm-8">'
            + '<input style="margin-top: 10px" id="pWorkPlace" name="pWorkPlace" class="form-control" type="text" value="" />'
            + '</div>'
            + '</div>'

            + '<div class="form-group" >'
            + '<label  class="col-sm-3 control-label" style="text-align:right;margin-top: 8px;">招聘类型:</label>'
            + '<div class="col-sm-8">'
            + '<input style="display: none" id="jtId" name="jtId"/>'
            + '<select style="margin-top: 8px;" id="editTypes" class="selectpicker form-control" data-live-search="true" title="选择招聘类型">'
            + '<option value="0" selected="selected">选择招聘类型</option>'
            + '</select>'
            + '</div>'
            + '</div>'

            + '</form>';
        layer.open({
            type: 1,
            title: '编辑招聘职位',
            shadeClose: true,
            shade: 0.8,
            area: ['700px', '420px'],
            content: content,
            btn: ['保存', '取消'],
            yes: function(){
                $.ajax({
                    url : prefix + "/savePosition",
                    type : "POST",
                    data : $("#addPositionForm").serialize(),
                    success : function(r) {
                        if (r.code == 0) {
                            layer.msg(r.msg);
                            reLoad();
                        } else {
                            layer.msg(r.msg);
                        }
                    }
                });
            },
            btn2: function()
            {
                layer.close();
            },
            success: function(layero){
                layero.find('.layui-layer-btn').css('text-align', 'center');
                layero.find('.layui-layer-btn').css('padding-top', '0px');


                $.ajax({
                    url : prefix + "/editPosition",
                    type : "POST",
                    data : {
                        "id": pid
                    },
                    success : function(r) {
                        if (r.code == 0) {
                            $("#pId").val(r.position.pId);
                            $("#pName").val(r.position.pName);
                            $("#pDesc").html(r.position.pDesc.replace("[\r\n]", "<br>"));
                            $("#pWorkPlace").val(r.position.pWorkPlace);
                            $("#jtId").val(r.position.jtId);

                        } else {
                            layer.msg(r.msg);
                        }
                    }
                });
                $.ajax({
                    url : prefix + "/listTypes",
                    type : "GET",
                    data : "",
                    success : function(r) {
                        if (r.code == 0) {
                            for(let i = 0; i < r.results.length; i++){
                                var jtName = r.results[i].jtName;
                                var jtId = r.results[i].jtId;
                                var option = "<option value='" + jtId + "'>" + jtName + "</option>";
                                $("#editTypes").append(option);
                            }
                            var selectJtId = $("#jtId").val();
                            if(selectJtId > 0){
                                var option = "option[value= "  + selectJtId + "]";
                                $("#editTypes").find(option).attr("selected",true);
                            }else {
                                $("#editTypes").find("option[value='0']").attr("selected",true);
                            }
                        } else {
                            layer.msg(r.msg);
                        }
                    }
                });

                $("#editTypes").change(function () {
                    var val = $(this).find("option:selected").val();
                    $("#jtId").val(val);
                });


            }
        });
    }

    function removePosition(id) {
        layer.confirm('确定要删除选中的记录？', {
            btn : [ '确定', '取消' ]
        }, function() {
            $.ajax({
                url : prefix + "/delPosition",
                type : "post",
                data : {
                    'id' : id
                },
                success : function(r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                        reLoad();
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        })
    }

    function resetPwd(id) {
    }
    function batchRemove() {
        var rows = $('#exampleTable').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
        if (rows.length == 0) {
            layer.msg("请选择要删除的数据");
            return;
        }
        layer.confirm("确认要删除选中的'" + rows.length + "'条数据吗?", {
            btn : [ '确定', '取消' ]
            // 按钮
        }, function() {
            var ids = new Array();
            // 遍历所有选择的行数据，取每条数据对应的ID
            $.each(rows, function(i, row) {
                ids[i] = row['did'];
            });
            $.ajax({
                type : 'POST',
                data : {
                    "ids" : ids
                },
                url : prefix + '/batchRemove',
                success : function(r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                        reLoad();
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        }, function() {

        });
    }

    //修改button class属性
    function changeBtnClass(button) {

        var checkedBtn = $("#btnId").val();
        $("#" + checkedBtn + "").removeAttrs("class");
        $("#" + checkedBtn + "").addClass("btn btn-default");

        $(button).removeAttrs("class");
        $(button).addClass("btn btn-info");
        $("#btnId").val($(button).attr("id"));
    }

    $("#recruitmentType").click(function () {
        changeBtnClass(this);
        destroy();
        recruitmentType();
    });

    $("#position").click(function () {
        changeBtnClass(this);
        destroy();
        position();
    });

</script>
</body>
</html>
</html>