<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- iPhone保持原始尺寸及比例 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>研究院-资料下载</title>
    <link rel="stylesheet" type="text/css" href="../web/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../web/css/neiye.css"/>
</head>

<body>
<!--切换图代码-->
<a name="pagetop" id="pagetop"></a>
<div id="banner">
    <div id="nyshow">
        <div class="jdtu"><img src="../web/images/data_download.png" alt="资料下载" /></div>
    </div>
    <div class="min_show">西南交通大学中国土地信息大数据研究院</div>
</div>
<!--切换图代码结束-->
<!--头部导航开始-->
<header class="light">
    <div class="top">
        <h1 id="logo"><div  class="imglog"><img src="../web/images/logo.png"/></div></h1>
        <div class="rtop">
            <p id="lang"><span id="btn">搜索</span>|<a href="index.html">中文</a>|<a target="_blank" href="#">Egnlish</a><!-- <a target="_blank" href="http://www.wrisc.cn/wrisc/en/index.html">Egnlish</a> --></p>
            <ul id="nav" style="width: 740px;">
                <li id="moved"><img src="../web/images/hoverbg.gif" width="55" height="9" /></li>
                <li class="navitem"><a href="../bigdata">网站首页</a></li>
                <li  class="navitem"><a href="../bigdata/newscenter">动态消息</a></li>
                <li class="navitem"><a href="../bigdata/direction">研究方向</a></li>
                <li class="navitem"><a href="../bigdata/teams">研究团队</a></li>
                <li class="navitem"><a href="../bigdata/achievments">研究成果</a></li>
                <li class="navitem"><a href="../bigdata/solution">解决方案</a></li>
                <li class="navitem" id="navactive"><a href="../bigdata/download">资料下载</a></li>
                <li class="navitem"><a href="../bigdata/about">关于我们</a></li>
            </ul>
        </div>
    </div>
</header>
<!--头部导航代码结束-->
<!--搜索的代码-->
<div id="boxsear"  style="display:none;">
    <div id="back"><img src="../web/images/back.gif" alt="关闭搜索" /></div>
    <form id="searchform">
        <input type="keyword" id="keywords" placeholder="输入关键字" value="输入关键字"  onfocus="if(value=='输入关键字') {value=''}" onblur="if (value=='') {value='输入关键字'}"/>
        <input name="search" id="bot" type="button" value="搜&nbsp;索" />
    </form>
    <script>
        window.onload =function(){
            var oBtn=document.getElementById('btn');
            var oSearch=document.getElementById('boxsear');
            var oback=document.getElementById('back');
            oBtn.onclick=function(){
                if(oSearch.style.display=='block'){
                    oSearch.style.display='none'
                }else{
                    oSearch.style.display='block'
                }
            }
            oback.onclick=function(){
                oSearch.style.display='none'
            }
        }
    </script>
</div>
<!--搜索的代码结束-->
<div id="mbaoxue">
    <div id="page_content">
        您所在的位置 > <a href="../index.html">首页</a> > <span>资料下载</span>
    </div>
</div>
<div id="page_content">
    <!--左侧栏目-->
    <div class="left_box" id="spleft">
        <div class="lanmu_title">资料下载</div>
        <div id="lanmu_list">
            <ul>
                <!-- <li  id="cbnavactive"><a href="#">表格类</a></li> -->
                <!-- <li ><a href="#">软件类</a></li> -->
                <!-- <li id="cbnmove"><img src="../web/images/lmbg.jpg" width="228" height="32" /></li> -->
            </ul>
        </div>
    </div>
    <!--左侧栏目END-->

    <!--右侧代码-->
    <div id="right_box">
        <ul id="news_list">
            <li>
                <span>2007年06月10日</span>
                <a href="http://www.pv265.com/gjbz/201201/22900.html" target="_blank">基础地理信息标准数据基本规定</a>
            </li>
            <li>
                <span>2009年06月09日</span>
                <a href="http://www.docin.com/p-1119400270.html?docfrom=rrela" target="_blank">林业信息交换体系技术规范</a>
            </li>
            <li>
                <span>2017年05月11日</span>
                <a href="http://www.yyslyj.gov.cn/yyslyj/1832/content_240302.html" target="_blank">林业信息化网络系统建设规范</a>
            </li>
            <li>
                <span>2013年03月27日</span>
                <a href="http://www.bzfxw.com/soft/sort055/linye/96248842.html" target="_blank">林业信息资源目录体系技术规范</a>
            </li>
            <li>
                <span>2013年03月04日</span>
                <a href="http://www.bzfxw.com/soft/sort055/linye/96248841.html" target="_blank">林业数据库更新技术规范</a>
            </li>
            <li>
                <span>2008年10月17日</span>
                <a href="https://wenku.baidu.com/view/5045d2d676a20029bd642dcd.html" target="_blank">计算机信息系统安全等级保护网络技术要求</a>
            </li>
            <li>
                <span>2016年07月20日</span>
                <a href="https://max.book118.com/html/2015/1010/27056383.shtm" target="_blank">计算机信息系统安全等级保护操作系统技术要求</a>
            </li>
            <li>
                <span>2002年08月15日</span>
                <a href="http://www.doc88.com/p-7764203706845.html" target="_blank">计算机信息系统安全等级保护数据库管理系统技术要求</a>
            </li>
            <li>
                <span>2002年05月10日</span>
                <a href="http://www.docin.com/p-243187755.html" target="_blank">计算机信息系统安全等级保护通用技术要求</a>
            </li>
            <li>
                <span>2002年09月17日</span>
                <a href="http://www.docin.com/p-735371188.html" target="_blank">计算机信息系统安全等级保护管理要求</a>
            </li>
            <li>
                <span>1997年03月16日</span>
                <a href="http://www.law-lib.com/law/law_view.asp?id=100384" target="_blank">计算机信息系统安全专用产品分类原则</a>
            </li>
            <li>
                <span>1999年08月19日</span>
                <a href="http://tds.antiy.com/biaozhun/1/index.html" target="_blank">计算机信息系统安全保护等级划分准则</a>
            </li>

        </ul>
        <form  id="navPage" action="/dsjyjy/newscenter" method="post">
            <div class="pages">
                <a href="javascript:jumpPage(1)">首页</a>
                <a href="javascript:jumpPage(1)" class="pageprev"  ></a>
                <a href="javascript:jumpPage(2)" class="pagenext"  id="pageactive"  ></a>
                <a href="javascript:jumpPage(5)">尾页</a>
            </div>
            <input type="hidden" name="pageNo" id="pageNo" value="1" />
            <input type="hidden" name="orderBy" id="orderBy"
                   value="publishTime" />
            <input type="hidden" name="order" id="order" value="desc" />
            <input type="hidden" name="filter_EQS_isView" value="0"/>
        </form>
    </div>
</div>


<footer>
    <div id="yj_cont">
        <div class="foot_nav">
            <a href="../bigdata" style="padding-left:0px;">网站首页</a>|
            <a href="../bigdata/newscenter">动态消息</a>|
            <a href="../bigdata/direction">研究方向</a>|
            <a href="../bigdata/teams">研究团队</a>|
            <a href="../bigdata/achievments">研究成果</a>|
            <a href="../bigdata/solution">解决方案</a>|
            <a href="../bigdata/download">资料下载</a>|
            <a href="../bigdata/about">关于我们</a>|
            <a href="../bigdata/theme">专题查询</a>|
            <a href="../bigdata/job">人才招聘</a>
        </div>
        <div class="bott_link">
            <a href="#">隐私条约</a> <a href="#">使用条款</a> <a href="#">反馈</a>
        </div>

        <div id="foot_cont">
            <div id="ft_conbox">
                <div class="yjlx add">
                    地址：四川省成都市金牛区二环路北一段111号/成都市犀安路999号<br />
                    电话：027-66367729
                </div>
                <div class="yjlx email">
                    Zip code  <br />
                    610031
                </div>
                <div class="yjlx time">
                    WORK TIME <br />
                    AM 9:00-PM 6:00
                </div>
                <div class="yjlx network">
                    SOCIAL NETWORK <br />
                    <a href="http://weibo.com/smartercities" target="_blank"><img src="../web/images/link_weibo.png" alt="新浪微博" /></a>
                    <a href="http://qing.blog.sina.com.cn/smartercities" target="_blank"><img src="../web/images/link_qing.png" alt="新浪轻博客" /></a>
                </div>
            </div>
            <a href="#pagetop" class="bk_top" id="backtop" title="返回顶部"></a>
        </div>
    </div>
    <div id="copyright">
        <div id="yj_cont">
            <span>鄂ICP备12012524号</span>
            Copyright © 2016-2017  http://www.LandBigData.edu.cn  All Rights Reserved 西南交通大学中国土地信息大数据研究院版权所有
            <script type="text/javascript"
                    src="2968491/tongji.js"></script>
            <noscript>
                <a href="http://www.linezing.com"><img
                        src="http://img.tongji.linezing.com/2968491/tongji.gif" />
                </a>
            </noscript>
            <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7046593115956ee41bf7b68c95808f81' type='text/javascript'%3E%3C/script%3E"));
            </script>
        </div>
    </div>
</footer>
<!--导航效果的js-->
<script src="../web/js/jquery-1.7.2.min.js"></script>
<script src="../web/js/nav.min.js" type="text/javascript"></script>
<!--导航效果的js END-->
<!--切换图JS-->
<script src="../web/js/banner.slide.jquery.js" type="text/javascript"></script>
<!--导航切换和回到顶部JS-->
<script src="../web/js/back_top.js" type="text/javascript"></script>
<script type="text/javascript" src="../web/js/common/page.js"></script>
<script>
    function jumpPage(pageNo) {
        $("#pageNo").val(pageNo);
        $("#navPage").submit();
    }
</script>
</body>
</html>