<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div id="exampleToolbar" role="group">
                    <button shiro:hasPermission="type:team:add" type="button" class="btn  btn-primary" id="add">
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <input type="text" style="display: none" value="team" id="btnId">
                    <button shiro:hasPermission="type:team:team" type="button" class="btn  btn-info" id="team">
                        <i class="fa fa-bars" aria-hidden="true"></i>研究团队
                    </button>
                    <button shiro:hasPermission="type:team:team" type="button" class="btn  btn-default"
                            id="teamRepresentative">
                        <i class="fa fa-info" aria-hidden="true"></i>团队代表
                    </button>
                    <button shiro:hasPermission="type:team:batchRemove" type="button" class="btn  btn-danger"
                            onclick="batchRemove()">
                        <i class="fa fa-trash" aria-hidden="true"></i>删除
                    </button>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="type:direction:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="type:direction:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
</div>
<div th:include="include :: footer"></div>
<script>
    var teamPrefix = "/type/team";
    var teamRepresentativePrefix = "/type/teamRepresentative";

    $(function() {
        team();
    });

    function team() {
        $('#exampleTable')
            .bootstrapTable(
                {
                    method : 'get', // 服务器数据的请求方式 get or post
                    url : teamPrefix + "/teams", // 服务器数据的加载地址
                    // showRefresh : true,
                    // showToggle : true,
                    // showColumns : true,
                    iconSize : 'outline',
                    toolbar : '#exampleToolbar',
                    striped : true, // 设置为true会有隔行变色效果
                    dataType : "json", // 服务器返回的数据类型
                    pagination : true, // 设置为true会在底部显示分页条
                    // queryParamsType : "limit",
                    // //设置为limit则会发送符合RESTFull格式的参数
                    singleSelect : false, // 设置为true将禁止多选
                    // contentType : "application/x-www-form-urlencoded",
                    // //发送到服务器的数据编码类型
                    pageSize : 10, // 如果设置了分页，每页数据条数
                    pageNumber : 1, // 如果设置了分布，首页页码
                    // search : true, // 是否显示搜索框
                    showColumns : false, // 是否显示内容下拉框（选择显示的列）
                    sidePagination : "server", // 设置在哪里进行分页，可选值为"client" 或者
                    // "server"
                    queryParams : function(params) {
                        return {
                            // 说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                            limit : params.limit,
                            offset : params.offset
                            // name:$('#searchName').val(),
                            // username:$('#searchName').val()
                        };
                    },
                    // //请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
                    // queryParamsType = 'limit' ,返回参数必须包含
                    // limit, offset, search, sort, order 否则, 需要包含:
                    // pageSize, pageNumber, searchText, sortName,
                    // sortOrder.
                    // 返回false将会终止请求
                    columns : [
                        {
                            checkbox : true
                        },
                        {
                            visible : false,
                            field : 'tid',
                            title : ''
                        },
                        {
                            field : 'sn',
                            title : '序号',
                            width :320
                        },
                        {
                            field : 'name',
                            title : '分类名称'
                        },
                        {
                            title : '操作',
                            field : 'id',
                            align : 'center',
                            formatter : function(value, row, index) {
                                var e = '<a class="btn btn-primary btn-sm '+s_edit_h+'" href="#" mce_href="#" title="编辑" onclick="editTeam(\''
                                    + row.tid
                                    + '\')"><i class="fa fa-edit"></i></a> ';
                                var d = '<a class="btn btn-warning btn-sm '+s_remove_h+'" href="#" title="删除"  mce_href="#" onclick="removeTeam(\''
                                    + row.tid
                                    + '\')"><i class="fa fa-remove"></i></a> ';
                                var f = '<a class="btn btn-success btn-sm" href="#" title="备用"  mce_href="#" onclick="resetPwd(\''
                                    + row.tid
                                    + '\')"><i class="fa fa-key"></i></a> ';
                                return e + d;
                            }
                        } ]
                });
    }


    function removeTeam(tid) {
        layer.confirm('确定要删除选中的记录？', {
            btn : [ '确定', '取消' ]
        }, function() {
            $.ajax({
                url : teamPrefix + "/remove",
                type : "post",
                data : {
                    'tid' : tid
                },
                success : function(r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                        reLoad();
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        })
    }

    function teamRepresentative() {
        $('#exampleTable')
            .bootstrapTable(
                {
                    method : 'get', // 服务器数据的请求方式 get or post
                    url : teamRepresentativePrefix + "/teamRepresentatives", // 服务器数据的加载地址
                    // showRefresh : true,
                    // showToggle : true,
                    // showColumns : true,
                    iconSize : 'outline',
                    toolbar : '#exampleToolbar',
                    striped : true, // 设置为true会有隔行变色效果
                    dataType : "json", // 服务器返回的数据类型
                    pagination : true, // 设置为true会在底部显示分页条
                    // queryParamsType : "limit",
                    // //设置为limit则会发送符合RESTFull格式的参数
                    singleSelect : false, // 设置为true将禁止多选
                    // contentType : "application/x-www-form-urlencoded",
                    // //发送到服务器的数据编码类型
                    pageSize : 10, // 如果设置了分页，每页数据条数
                    pageNumber : 1, // 如果设置了分布，首页页码
                    // search : true, // 是否显示搜索框
                    showColumns : false, // 是否显示内容下拉框（选择显示的列）
                    sidePagination : "server", // 设置在哪里进行分页，可选值为"client" 或者
                    // "server"
                    queryParams : function(params) {
                        return {
                            // 说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                            limit : params.limit,
                            offset : params.offset
                            // name:$('#searchName').val(),
                            // username:$('#searchName').val()
                        };
                    },
                    // //请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
                    // queryParamsType = 'limit' ,返回参数必须包含
                    // limit, offset, search, sort, order 否则, 需要包含:
                    // pageSize, pageNumber, searchText, sortName,
                    // sortOrder.
                    // 返回false将会终止请求
                    columns : [
                        {
                            checkbox : true
                        },
                        {
                            visible : false,
                            field : 'trid',
                            title : ''
                        },
                        {
                            field : 'sn',
                            title : '序号',
                        },
                        {
                            field : 'name',
                            title : '姓名'
                        },
                        {
                            title : '操作',
                            field : 'id',
                            align : 'center',
                            formatter : function(value, row, index) {
                                var e = '<a class="btn btn-primary btn-sm '+s_edit_h+'" href="#" mce_href="#" title="编辑" onclick="editTeamRepresentative(\''
                                    + row.trid
                                    + '\')"><i class="fa fa-edit"></i></a> ';
                                var d = '<a class="btn btn-warning btn-sm '+s_remove_h+'" href="#" title="删除"  mce_href="#" onclick="removeTeamRepresentative(\''
                                    + row.trid
                                    + '\')"><i class="fa fa-remove"></i></a> ';
                                var f = '<a class="btn btn-success btn-sm" href="#" title="备用"  mce_href="#" onclick="resetPwd(\''
                                    + row.trid
                                    + '\')"><i class="fa fa-key"></i></a> ';
                                return e + d;
                            }
                        } ]
                });
    }


    //表格刷新
    function reLoad() {
        $('#exampleTable').bootstrapTable('refresh');
    }

    //清除原有表格
    function destroy() {
        $('#exampleTable').bootstrapTable('destroy');
    }

    /**
     * 添加新的研究方向
     */
    function addTeam() {
        var addPage = layer.open({
            type : 2,
            title : '增加',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content :  teamPrefix + '/addTeam'// iframe的url
        });
        layer.full(addPage);
    }

    /**
     * 添加示范项目
     */
    function addTeamRepresentative() {
        var addPage = layer.open({
            type : 2,
            title : '增加',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content :  teamRepresentativePrefix// iframe的url
        });
        layer.full(addPage);
    }



    var add = {
        team: function(){
            addTeam();
        },
        teamRepresentative: function () {
            addTeamRepresentative();
        }
    };

    $("#add").click(function () {
        var btnId = $("#btnId").val();
        add["" +btnId+ ""]();
    });


    /**
     * 编辑
     * @param tid
     */
    function editTeam(tid) {
        var editPage = layer.open({
            type : 2,
            title : '编辑',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content : teamPrefix + '/edit/' + tid // iframe的url
        });
        layer.full(editPage);
    }

    function editTeamRepresentative(trid) {
        var editPage = layer.open({
            type : 2,
            title : '编辑',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content : teamRepresentativePrefix + '/edit/' + trid // iframe的url
        });
        layer.full(editPage);
    }

    function removeTeamRepresentative(id) {
        layer.confirm('确定要删除选中的记录？', {
            btn : [ '确定', '取消' ]
        }, function() {
            $.ajax({
                url : teamRepresentativePrefix + "/remove",
                type : "post",
                data : {
                    'trid' : id
                },
                success : function(r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                        reLoad();
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        })
    }

    function resetPwd(id) {
    }
    function batchRemoveTeam() {
        var rows = $('#exampleTable').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
        if (rows.length == 0) {
            layer.msg("请选择要删除的数据");
            return;
        }
        layer.confirm("确认要删除选中的'" + rows.length + "'条数据吗?", {
            btn : [ '确定', '取消' ]
            // 按钮
        }, function() {
            var ids = new Array();
            // 遍历所有选择的行数据，取每条数据对应的ID
            $.each(rows, function(i, row) {
                ids[i] = row['did'];
            });
            $.ajax({
                type : 'POST',
                data : {
                    "ids" : ids
                },
                url : prefix + '/batchRemove',
                success : function(r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                        reLoad();
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        }, function() {

        });
    }

    //修改button class属性
    function changeBtnClass(button) {

        var checkedBtn = $("#btnId").val();
        $("#" + checkedBtn + "").removeAttrs("class");
        $("#" + checkedBtn + "").addClass("btn btn-default");

        $(button).removeAttrs("class");
        $(button).addClass("btn btn-info");
        $("#btnId").val($(button).attr("id"));
    }

    $("#team").click(function () {
        changeBtnClass(this);
        destroy();
        team();
    });

    $("#teamRepresentative").click(function () {
        changeBtnClass(this);
        destroy();
        teamRepresentative();
    });

</script>
</body>
</html>