<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<!-- iPhone保持原始尺寸及比例 -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>研究院-研究方向</title>
<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/neiye.css"/>
</head>
<body>
<!--切换图代码-->
 <a name="pagetop" id="pagetop"></a>
 <div id="banner">
    <div id="nyshow">
      <div class="jdtu"><img src="../static/images/yanjiu_show.jpg" alt="研究方向" /></div>
    </div>
    <div class="min_show">西南交通大学中国土地信息大数据研究院</div>
 </div>
 <!--切换图代码结束-->
 <!--头部导航开始-->

<header class="light">
   <div class="top">
     <h1 id="logo"><div  class="imglog"><img src="../static/images/logo.png"/></div></h1>
     <div class="rtop">
       <p id="lang"><span id="btn">搜索</span>|<a href="index.html">中文</a>|<a target="_blank" href="#">Egnlish</a><!-- <a target="_blank" href="http://www.wrisc.cn/wrisc/en/index.html">Egnlish</a> --></p>
       <ul id="nav" style="width: 740px;">
         <li id="moved"><img src="../static/images/hoverbg.gif" width="55" height="9" /></li>
          <li class="navitem"><a href="../index.html">网站首页</a></li>
          <li class="navitem"><a href="../newscenter/xwdt.html">动态消息</a></li>
          <li id="navactive" class="navitem"><a href="yjfx1.html">研究方向</a></li>
          <li class="navitem"><a href="../teams/yjtd1.html">研究团队</a></li>
          <li class="navitem"><a href="../achievments/yjcg.html">研究成果</a></li>
          <li class="navitem"><a href="../solution/jjfa.html">解决方案</a></li>
          <li class="navitem"><a href="../download/zlxz.html">资料下载</a></li>
          <li class="navitem"><a href="../about/adout-us.html">关于我们</a></li>
       </ul>
     </div>
   </div>
 </header>
 <!--头部导航代码结束-->
 <!--搜索的代码-->

 <div id="boxsear"  style="display:none;">
    <div id="back"><img src="../static/images/back.gif" alt="关闭搜索" /></div>
    <form id="searchform">
			<input type="keyword" id="keywords" placeholder="输入关键字" value="输入关键字"  onfocus="if(value=='输入关键字') {value=''}" onblur="if (value=='') {value='输入关键字'}"/>
            <input name="search" id="bot" type="button" value="搜&nbsp;索" />
		</form>
        <script>
           window.onload =function(){
                var oBtn=document.getElementById('btn');
                var oSearch=document.getElementById('boxsear');
                var oback=document.getElementById('back');
                oBtn.onclick=function(){
	                   if(oSearch.style.display=='block'){
	                     	oSearch.style.display='none'
	                  	}else{
		              	oSearch.style.display='block'
		                }
                    }
               oback.onclick=function(){
		                oSearch.style.display='none'
		           }
               }
        </script>
 </div>
 <!--搜索的代码结束-->
<div id="mbaoxue">
  <div id="page_content">
   您所在的位置 > <a href="../index.html">首页</a> > <span>研究方向 </span>
  </div>
</div>
<div id="page_content">
     <!--左侧栏目-->
<div class="left_box" id="spleft">
	<div class="lanmu_title">研究方向</div>
	<div id="lanmu_list">
		<ul>
			<li  ><a href="../type/yjfx1.html" title="说明">大数据、云计算及智能技术领域</a></li>
			<li id="cbnavactive" ><a href="yjfx2.html" title="说明">机器人与智能系统</a></li>
			<li  ><a href="../type/yjfx3.html" title="说明">地理信息系统、虚拟地理环境领域</a></li>
			<li  ><a href="../type/yjfx4.html" title="新增智慧环保">政策、制度、法律法规领域</a></li>
			<li id="cbnmove"><img src="../static/images/lmbg.jpg"
				width="228" height="32" />
			</li>
		</ul>
	</div>
</div>
     <!--左侧栏目END-->
     <!--右侧代码-->
     <div class="yjiu_hz">
        <div id="demo-nested" class="cwBox boxHz">
          <ul id="demo-nested-nav">
            <li><a href="#">概 &nbsp;&nbsp;述</a></li>
            <li><a href="#">示范项目</a></li>
		    <li><a href="#">案例分析</a></li>
		    <li><a href="#">交流空间</a></li>
         </ul>
         <div class="tabs-container">
             <div class="tab-nested ctbox">
				 <h4 class="yjbt_fl"><img src="../static/images/yj_1gs.jpg" />智能机器人</h4>
				 <div class="textbox">
<p align="left">&nbsp; &nbsp; &nbsp;&nbsp;工业和信息化部、国家发展改革委、财政部等三部委联合印发了《机器人产业发展规划（2016-2020年）》，指出机器人产业发展要推进重大标志性产品率先突破。</p>
<p align="left">&nbsp; &nbsp; &nbsp;&nbsp;在服务机器人领域，重点发展消防救援机器人、手术机器人、智能型公共服务机器人、智能护理机器人等4种标志性产品，推进专业服务机器人实现系列化，个人/家庭服务机器人实现商品化。</p>
<p align="left">&nbsp; &nbsp; &nbsp;1) 交互型机器人</p>
<p align="left">&nbsp; &nbsp; &nbsp;&nbsp;机器人通过计算机系统与操作员或程序员进行人－机对话，实现对机器人的控制与操作。虽然具有了部分处理和决策功能，能够独立地实现一些诸如轨迹规划、简单的避障等功能，但是还要受到外部的控制。</p>
<p align="left">&nbsp; &nbsp; &nbsp;2) 自主型机器人</p>
<p align="left">&nbsp; &nbsp; &nbsp;&nbsp;在设计制作之后，机器人无需人的干预，能够在各种环境下自动完成各项拟人任务。自主型机器人的本体上具有感知、处理、决策、执行等模块，可以就像一个自主的人一样独立地活动和处理问题。</p>
		</div>
		</div>
      	     <div class="tab-nested">
				<h4 class="yjbt_fl"><img src="../static/images/yj_3sf.jpg" />示范项目1</h4>
				    <div class="textbox">
				        <p align="left">&nbsp; &nbsp; &nbsp;&nbsp;多智能体系统协调控制与多机器人协作技术</p>
					</div>
				<h4 class="yjbt_fl">&nbsp; &nbsp; &nbsp; &nbsp;项目简介</h4>
				    <div class="textbox">
				        <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;多智能体系统协调控制是控制领域当今最热门的方向之一，主要应用于：安全监控、灾后搜救、移动操作、目标围捕。
</p>
				    </div>

            <h4 class="yjbt_fl"><img src="../static/images/yj_3sf.jpg" />示范项目2</h4>
            <div class="textbox">
                <p align="left">&nbsp; &nbsp; &nbsp;&nbsp;移动机器人</p>
          </div>
        <h4 class="yjbt_fl">&nbsp; &nbsp; &nbsp; &nbsp;项目简介</h4>
            <div class="textbox">
                <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;自主研发的旋翼飞行器，实现位置与姿态的稳定，具有自定位和巡航能力的无人自主飞行器，可以抵抗强烈的外部干扰。
</p>
            &nbsp; &nbsp; &nbsp; 灾后自主搜救，红外摄像头实时采集视频图像，证明了机动能力、人机协作（如可操纵性、基于认知心理的人机交互）、远程数据传输和实时监控等能力。
            </div>

<h4 class="yjbt_fl"><img src="../static/images/yj_3sf.jpg" />示范项目3</h4>
            <div class="textbox">
                <p align="left">&nbsp; &nbsp; &nbsp;&nbsp;高精度运动控制、多机器人系统、智能机器人</p>
          </div>
        <h4 class="yjbt_fl">&nbsp; &nbsp; &nbsp; &nbsp;项目简介</h4>
            <div class="textbox">
                <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;高精度运动控制系统的关键技术涉及：运动控制、伺服控制、机械结构设计及材料选择、装配工艺以及系统的保护等诸多方面的技术。
</p>
<p align="left">&nbsp; &nbsp; &nbsp; &nbsp;介绍几种典型的多机器人系统特点、以及多机器人之间相互协作工作、编队控制以及协作多机器人的系统模块化等。
</p>
            &nbsp; &nbsp; &nbsp; 它有相当发达的“大脑”，局部形形色色的内部信息传感器和外部信息传感器，如视觉、听觉、触觉、嗅觉。它相当于一个独立的个体。
            </div>

            <h4 class="yjbt_fl"><img src="../static/images/yj_3sf.jpg" />示范项目4</h4>
            <div class="textbox">
                <p align="left">&nbsp; &nbsp; &nbsp;&nbsp;自主机器人研究</p>
          </div>
        <h4 class="yjbt_fl">&nbsp; &nbsp; &nbsp; &nbsp;项目简介</h4>
            <div class="textbox">
                <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;自主机器人形状识别实时算法，主要是通过对机器人实时捕捉到的图片进行处理分析，并对不同形状做出反应的机制。
</p>
<p align="left">&nbsp; &nbsp; &nbsp; &nbsp;机器人可以根据前方的实际路况进行判断，做出暂停和转向等操作来避免路障。
</p>
<p align="left">&nbsp; &nbsp; &nbsp; &nbsp;机器人可以根据环境中光线的变化进行移动，实现实时的机器人反应。
</p>
            &nbsp; &nbsp; &nbsp; 机器人在行进的过程中可以很久颜色的变化，先进行识别颜色，随之做出相应的追踪操作。
            </div>

            <h4 class="yjbt_fl"><img src="../static/images/yj_3sf.jpg" />示范项目5</h4>
            <div class="textbox">
                <p align="left">&nbsp; &nbsp; &nbsp;&nbsp;智慧数采、精准扶贫</p>
          </div>
        <h4 class="yjbt_fl">&nbsp; &nbsp; &nbsp; &nbsp;项目简介</h4>
            <div class="textbox">
                <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;智慧数采系统将原始数据采集，经无线网络实时传递到数据中心的云端，经大数据处理中心分析，实现精准一对一扶贫。
</p>
            </div>

             </div>
		     <div class="tab-nested">
		     		 <ul class="media">
					   	      <li>
					   	      <!--
						      	 <embed src="http://player.youku.com/player.php/sid/XNDUwNjUwNDI0/v.swf"
						           allowFullScreen="true" quality="high" width="420" height="205" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash">
						         </embed>
						        -->
						              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="610" height="300">
									    <param name="movie" value="http://player.youku.com/player.php/sid/XNDUwNjUwNDI0/v.swf" />
									    <param name="quality" value="high" />
										<param name="wmode" value="transparent" />
									    <embed src="http://player.youku.com/player.php/sid/XNDUwNjUwNDI0/v.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="610" height="300"></embed>
									  </object>
					     	</li>
					   	      <li>
					   	      <!--
						      	 <embed src="http://player.youku.com/player.php/sid/XMzE3OTY4MzMy/v.swf"
						           allowFullScreen="true" quality="high" width="420" height="205" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash">
						         </embed>
						        -->
						              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="610" height="300">
									    <param name="movie" value="http://player.youku.com/player.php/sid/XMzE3OTY4MzMy/v.swf" />
									    <param name="quality" value="high" />
										<param name="wmode" value="transparent" />
									    <embed src="http://player.youku.com/player.php/sid/XMzE3OTY4MzMy/v.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="610" height="300"></embed>
									  </object>
					     	</li>
					   	      <li>
					   	      <!--
						      	 <embed src="http://player.youku.com/player.php/sid/XNDQ1MTkyODI4/v.swf"
						           allowFullScreen="true" quality="high" width="420" height="205" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash">
						         </embed>
						        -->
						              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="610" height="300">
									    <param name="movie" value="http://player.youku.com/player.php/sid/XNDQ1MTkyODI4/v.swf" />
									    <param name="quality" value="high" />
										<param name="wmode" value="transparent" />
									    <embed src="http://player.youku.com/player.php/sid/XNDQ1MTkyODI4/v.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="610" height="300"></embed>
									  </object>
					     	</li>
				   	 </ul>
             </div>
             <div class="tab-nested">
	              <h4 class="yjbt_fl"><img src="../static/images/yj_3sf.jpg" />交流空间</h4>
	                <div class="textbox">
	                  <div class="jltp"><img src="../static/images/jlkjt.jpg" /></div>
			          <div class="jl_link">交流空间链接在此点击<br />
	                    <a href="http://qing.weibo.com/2957929005" target="_blank"> 西南交通大学中国土地信息大数据研究院微博（申请一个研究院微博） </a>
	                  </div>
	                </div>
             </div>
        </div>
         <script type="text/javascript" src="../static/js/tab.js"></script>
	     <script type="text/javascript">
             var tabber2 = new Yetii({
               id: 'demo-nested',
               tabclass: 'tab-nested'
              });
         </script>
      </div>
   </div>
</div>
</div>
<footer>
  <div id="yj_cont">
     <div class="foot_nav">
        <a href="#" style="padding-left:0px;">网站首页</a>|
        <a href="../newscenter/xwdt.html">动态消息</a>|
        <a href="../type/yjfx1.html">研究方向</a>|
        <a href="../teams/yjtd1.html">研究团队</a>|
        <a href="../achievments/yjcg.html">研究成果</a>|
        <a href="../solution/jjfa.html">解决方案</a>|
        <a href="../download/zlxz.html">资料下载</a>|
        <a href="about/adout-us.html">关于我们</a>|
        <a href="../theme/ztcx.html">专题查询</a>|
        <a href="../job/rczp.html">人才招聘</a>
     </div>
     <div class="bott_link">
     <a href="#">隐私条约</a> <a href="#">使用条款</a> <a href="#">反馈</a>
     </div>
     <div id="foot_cont">
       <div id="ft_conbox">
        <div class="yjlx add">
          地址：四川省成都市金牛区二环路北一段111号/成都市犀安路999号<br />
          电话：027-66367729
        </div>
         <div class="yjlx email">
		Zip code  <br />
          610031
         </div>
        <div class="yjlx time">
          WORK TIME <br />
          AM 9:00-PM 6:00
         </div>
        <div class="yjlx network">
          SOCIAL NETWORK <br />

           <a href="http://weibo.com/smartercities" target="_blank"><img src="../static/images/link_weibo.png" alt="新浪微博" /></a>
		  <a href="http://qing.blog.sina.com.cn/smartercities" target="_blank"><img src="../static/images/link_qing.png" alt="新浪轻博客" /></a>
        </div>
      </div>
      <a href="#pagetop" class="bk_top" id="backtop" title="返回顶部"></a>
    </div>
  </div>
  <div id="copyright">
    <div id="yj_cont">
     <span>鄂ICP备12012524号</span>
      Copyright © 2016-2017  http://www.LandBigData.edu.cn  All Rights Reserved 西南交通大学中国土地信息大数据研究院版权所有
      <script type="text/javascript"
		src="2968491/tongji.js"></script>
  <noscript>
		<a href="http://www.linezing.com"><img
			src="http://img.tongji.linezing.com/2968491/tongji.gif" />
		</a>
  </noscript>
  	  <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7046593115956ee41bf7b68c95808f81' type='text/javascript'%3E%3C/script%3E"));
</script>
    </div>
  </div>
</footer>

<!--导航效果的js-->
<script src="../static/js/jquery-1.7.2.min.js"></script>
<script src="../static/js/nav.min.js" type="text/javascript"></script>
<!--导航效果的js END-->
<!--切换图JS-->
<script src="../static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../static/js/banner.slide.jquery.js"></script>
<!--导航切换和回到顶部JS-->
<script src="../static/js/back_top.js" type="text/javascript"></script>

<script type="text/javascript">
	function requestContent(name,type,uriType){
			    var url="/wrisc/"+type+"/"+uriType;
				$.ajax({
				  url: url,
				  type: 'POST',
				  dataType:"html",
				  cache: false,
				  success: function(html){
				    $("#"+name).html(html);
				  }
				});
	}
</script>
</body>
</html>
