<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<!-- iPhone保持原始尺寸及比例 -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>研究院解决方案</title>
<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/neiye.css"/>
<link rel="stylesheet" type="text/css" href="../static/demo_project/styles/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../static/demo_project/styles/demoprjs.css"/>

</head>
<body>
<!--切换图代码-->
 <a name="pagetop" id="pagetop"></a>
 <div id="banner">
    <div id="nyshow">
      <div class="jdtu"><img src="../static/images/yanjiu_solution_show.png" alt="解决方案" /></div>
    </div>
    <div class="min_show">西南交通大学中国土地信息大数据研究院</div>
 </div>
 <!--切换图代码结束-->
 <!--头部导航开始-->

<header class="light">
   <div class="top">
     <h1 id="logo"><div  class="imglog"><img src="../static/images/logo.png"/></div></h1>
     <div class="rtop">
       <p id="lang"><span id="btn">搜索</span>|<a href="index.html">中文</a>|<a target="_blank" href="#">Egnlish</a><!-- <a target="_blank" href="http://www.wrisc.cn/wrisc/en/index.html">Egnlish</a> --></p>
       <ul id="nav" style="width: 740px;">
          <li id="moved"><img src="../static/images/hoverbg.gif" width="55" height="9" /></li>
          <li class="navitem"><a href="../index.html">网站首页</a></li>
          <li class="navitem"><a href="../newscenter/xwdt.html">动态消息</a></li>
          <li class="navitem"><a href="../type/yjfx1.html">研究方向</a></li>
          <li class="navitem"><a href="../teams/yjtd1.html">研究团队</a></li>
          <li class="navitem"><a href="../achievments/yjcg1.html">研究成果</a></li>
          <li id="navactive" class="navitem"><a href="jjfa1.html">解决方案</a></li>
          <li class="navitem"><a href="../download/zlxz.html">资料下载</a></li>
          <li class="navitem"><a href="../about/adout-us.html">关于我们</a></li>
       </ul>
     </div>
   </div>
 </header>
 <!--头部导航代码结束-->
 <!--搜索的代码-->

 <div id="boxsear"  style="display:none;">
    <div id="back"><img src="../static/images/back.gif" alt="关闭搜索" /></div>
    <form id="searchform">
			<input type="keyword" id="keywords" placeholder="输入关键字" value="输入关键字"  onfocus="if(value=='输入关键字') {value=''}" onblur="if (value=='') {value='输入关键字'}"/>
            <input name="search" id="bot" type="button" value="搜&nbsp;索" />
		</form>
        <script>
           window.onload =function(){
                var oBtn=document.getElementById('btn');
                var oSearch=document.getElementById('boxsear');
                var oback=document.getElementById('back');
                oBtn.onclick=function(){
	                   if(oSearch.style.display=='block'){
	                     	oSearch.style.display='none'
	                  	}else{
		              	oSearch.style.display='block'
		                }
                    }
               oback.onclick=function(){
		                oSearch.style.display='none'
		           }
               }
        </script>
 </div>
 <!--搜索的代码结束-->
<div id="mbaoxue">
  <div id="page_content">
   您所在的位置 > <a href="../index.html">首页</a> > <span>解决方案 </span>
  </div>
</div>
<div id="page_content">

   <div class="yjiu_hz" style="width: 950px">
   <div id="demo-nested" class="cwBox boxHZ">
     <ul id="demo-nested-nav">
        <li class="activeli"><a href="#">大数据类</a></li>
        <li><a href="#">云计算类</a></li>
        <li><a href="#">其他类</a></li>
     </ul>
     <div class="tabs-container">

      <div class="tab-nested ctbox" style="display: block;">
        <div id="demo_events" class="container_wapper">
           <div class="container-fluid">
                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
                          <div class="event_box_wap event_animate_left">
                               <a href="/wrisc/demoproject/9">
                                <div class="event_box_img">
                                  <img src="http://img.wrisc.cn//89292492367355.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="event_box_caption">
                                    <h1>市中心医院智慧医疗试点项目</h1>
                                    <p>引入物联网、三网融合、移动宽带互联网等新理念和新技术，充分整合、延伸并扩展医院现有信息化系统，创新医疗……</p>
                                </div>
                               </a>
                          </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
                          <div class="event_box_wap event_animate_left">
                               <a href="/wrisc/demoproject/11">
                                <div class="event_box_img">
                                  <img src="http://img.wrisc.cn//89545181852083.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="event_box_caption">
                                    <h1>江夏区基于GIS平台的数字行政决策辅助系统</h1>
                                    <p>创新电子政务建设思路，将GIS技术引入数字行政中心建设，实现了全区2009平方公里的地理矢量数据、卫星影像数据及三维影像数据的集成利用……</p>
                                </div>
                               </a>
                          </div>
                    </div>
                        <div class="clearfix"></div>
                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
                          <div class="event_box_wap event_animate_left">
                               <a href="/wrisc/demoproject/12">
                                <div class="event_box_img">
                                  <img src="http://img.wrisc.cn//89657071459574.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="event_box_caption">
                                    <h1>智慧公安—武汉市城市视频监控系统</h1>
                                    <p>基本建成覆盖全市主城区的视频监控网络，纵向上联省公安厅、公安部，下联各区分局、派出所，横向在市……</p>
                                </div>
                               </a>
                          </div>
                    </div>

                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
                          <div class="event_box_wap event_animate_left">
                               <a href="/wrisc/demoproject/13">
                                <div class="event_box_img">
                                <img src="http://img.wrisc.cn//4296573399503153.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="event_box_caption">
                                    <h1>武汉市城市路桥不停车收费（ETC）系统</h1>
                                    <p>基于先进的短程通讯技术建成信息识别和数据处理系统，在国内开创性地实现了不改变车辆行驶状态，能准确识别车辆的功能……</p>
                                </div>
                               </a>
                          </div>
                    </div>

                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
                          <div class="event_box_wap event_animate_left">
                               <a href="/wrisc/demoproject/14">
                                <div class="event_box_img">
                                  <img src="http://img.wrisc.cn//90069533981564.png" class="img-responsive" alt="">
                                </div>
                                <div class="event_box_caption">
                                    <h1>九州通医药电子商务项目</h1>
                                    <p>运用现代信息技术改造传统医药商贸流通模式，综合采用RFID无线射频、GPS/GIS、冷链物流等先进技术，对药品采购、储存……</p>
                                </div>
                               </a>
                          </div>
                    </div>
                      <div class="clearfix"></div>
        </div>
       </div>
      </div>
      <div class="tab-nested" style="display: none;">111111111</div>
      <div class="tab-nested" style="display: none;">22222222222</div>

   </div>
   <script type="text/javascript" src="../static/js/tab.js"></script>
   <script type="text/javascript">
     var tabber2=new Yetii({
      id:'demo-nested',
      tabclass:'tab-nested'
     });
   </script>
   </div>
   </div>
</div>
<footer>
  <div id="yj_cont">
     <div class="foot_nav">
        <a href="#" style="padding-left:0px;">网站首页</a>|
        <a href="../newscenter/xwdt.html">动态消息</a>|
        <a href="../type/yjfx1.html">研究方向</a>|
        <a href="../teams/yjtd1.html">研究团队</a>|
        <a href="../achievments/yjcg.html">研究成果</a>|
        <a href="../solution/jjfa.html">解决方案</a>|
        <a href="../download/zlxz.html">资料下载</a>|
        <a href="about/adout-us.html">关于我们</a>|
        <a href="../theme/ztcx.html">专题查询</a>|
        <a href="../job/rczp.html">人才招聘</a>
     </div>
     <div class="bott_link">
     <a href="#">隐私条约</a> <a href="#">使用条款</a> <a href="#">反馈</a>
     </div>
     <div id="foot_cont">
       <div id="ft_conbox">
        <div class="yjlx add">
          地址：四川省成都市金牛区二环路北一段111号/成都市犀安路999号<br />
          电话：027-66367729
        </div>
         <div class="yjlx email">
		Zip code  <br />
          610031
         </div>
        <div class="yjlx time">
          WORK TIME <br />
          AM 9:00-PM 6:00
         </div>
        <div class="yjlx network">
          SOCIAL NETWORK <br />

           <a href="http://weibo.com/smartercities" target="_blank"><img src="../static/images/link_weibo.png" alt="新浪微博" /></a>
		  <a href="http://qing.blog.sina.com.cn/smartercities" target="_blank"><img src="../static/images/link_qing.png" alt="新浪轻博客" /></a>
        </div>
      </div>
      <a href="#pagetop" class="bk_top" id="backtop" title="返回顶部"></a>
    </div>
  </div>
  <div id="copyright">
    <div id="yj_cont">
     <span>鄂ICP备12012524号</span>
      Copyright © 2016-2017  http://www.LandBigData.edu.cn  All Rights Reserved 西南交通大学中国土地信息大数据研究院版权所有
      <script type="text/javascript"
		src="../../2968491/tongji.js"></script>
  <noscript>
		<a href="http://www.linezing.com"><img
			src="http://img.tongji.linezing.com/2968491/tongji.gif" />
		</a>
  </noscript>
  	  <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7046593115956ee41bf7b68c95808f81' type='text/javascript'%3E%3C/script%3E"));
</script>
    </div>
  </div>
</footer>

<!--导航效果的js-->
<script src="../static/js/jquery-1.7.2.min.js"></script>
<script src="../static/js/nav.min.js" type="text/javascript"></script>
<!--导航效果的js END-->
<!--切换图JS-->
<script type="text/javascript" src="../static/js/banner.slide.jquery.js"></script>
<!--导航切换和回到顶部JS-->
<script src="../static/js/back_top.js" type="text/javascript"></script>

<script type="text/javascript">
	function requestContent(name,type,uriType){
			    var url="/wrisc/"+type+"/"+uriType;
				$.ajax({
				  url: url,
				  type: 'POST',
				  dataType:"html",
				  cache: false,
				  success: function(html){
				    $("#"+name).html(html);
				  }
				});
	}
</script>
<script type="text/javascript" src="../static/demo_project/styles/jquery.min.js"></script>
<script type="text/javascript" src="../static/demo_project/styles/demoprjs.js"></script>

</body>
</html>
